header.header
	.header__container
		h1.header__title Gulp: Jade + Sass + BrowserSync
		p.header__text 
			|For more information visit 
			a.header__link(href="http://github.com/Jfcorp", target="_blank") Github
		p.header__text 
			|Follow on 
			a.header__link(href="http://twitter.com/Jfcorp", target="_blank") Twitter

		.header__copyright Jonathan Manzano 2016