*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: $primary-text;
	font-size: $font-size;
	background-color: $bg-color;
}

h1{
	font-size: $size-h1;
	padding-bottom: $font-size * 2;
}
